In [84]:
#LIST:

list = []   #1
print('list = ', list)

fruits = ['mango', 'banana', 'orange', 'kiwi', 'apple', 'papaya', 'strawberry']        #2
print('fruits = ', fruits)

print('Length of fruits list = ',(len(fruits)))     #3

print('The first, middle and last items are: ', (fruits[0:8:3]))     #4

mixed_data_types = ['Warisha', 23, '62 inches' , 'Single', 'Karachi']    #5
print('mixed_data_type = ', mixed_data_types)

list =  []
fruits =  ['mango', 'banana', 'orange', 'kiwi', 'apple', 'papaya', 'strawberry']
Length of fruits list =  7
The first, middle and last items are:  ['mango', 'kiwi', 'strawberry']
mixed_data_type =  ['Warisha', 23, '62 inches', 'Single', 'Karachi']

In [6]:
IT_companies = ['Facebook', 'Google','Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']        #6
print('IT_companies = ', IT_companies)
print('Number of companies = ', (len(IT_companies)))

print('The first, middle and last company are: ', (IT_companies[0:8:3]))       #7

IT_companies[3] = 'Apple Inc.'   #8
print('IT_companies = ', IT_companies)

IT_companies.append('Tesla')     #9
print('IT_companies = ', IT_companies)

IT_companies.insert(4, 'Nvidia')  #10
print('IT_companies = ', IT_companies)

IT_companies[0] = IT_companies[0].upper()     #11
print('IT_companies = ', IT_companies)

IT_companies.sort()       #12
print('IT_companies = ', IT_companies)

IT_companies.reverse()    #13
print('IT_companies = ', IT_companies)

print('The first 3 companies are: ', (IT_companies[0:3]))  #14

print('The last 3 companies are: ', (IT_companies[6:9]))   #15

print('The middle IT company is: ', (IT_companies[4]))    #16

IT_companies.pop(0)   #17
print('IT_companies = ',IT_companies) 

IT_companies.remove('IBM')     #18
IT_companies.remove('Google')
print('IT_companies = ', IT_companies)

IT_companies.pop(5)     #19
print('IT_companies = ', IT_companies)

IT_companies.clear()    #20
print('IT_companies = ', IT_companies)

del(IT_companies)       #21

IT_companies =  ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of companies =  7
The first, middle and last company are:  ['Facebook', 'Apple', 'Amazon']
IT_companies =  ['Facebook', 'Google', 'Microsoft', 'Apple Inc.', 'IBM', 'Oracle', 'Amazon']
IT_companies =  ['Facebook', 'Google', 'Microsoft', 'Apple Inc.', 'IBM', 'Oracle', 'Amazon', 'Tesla']
IT_companies =  ['Facebook', 'Google', 'Microsoft', 'Apple Inc.', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Tesla']
IT_companies =  ['FACEBOOK', 'Google', 'Microsoft', 'Apple Inc.', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Tesla']
IT_companies =  ['Amazon', 'Apple Inc.', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Nvidia', 'Oracle', 'Tesla']
IT_comapnies =  ['Tesla', 'Oracle', 'Nvidia', 'Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Apple Inc.', 'Amazon']
The first 3 companies are:  ['Tesla', 'Oracle', 'Nvidia']
The last 3 companies are:  ['FACEBOOK', 'Apple Inc.', 'Amazon']
The middle IT company is:  IBM
IT_companies =  ['Oracle', 'Nvidia', 'Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Apple Inc.', 'Amazon']
IT_companies =  ['Oracle', 'Nvidia', 'Microsoft', 'FACEBOOK', 'Apple Inc.', 'Amazon']
IT_companies =  ['Oracle', 'Nvidia', 'Microsoft', 'FACEBOOK', 'Apple Inc.']
IT_companies =  []

In [88]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']     #22
print('front_end = ', front_end)
back_end = ['Node','Express', 'MongoDB']
print('back_end = ', back_end)
joined_list = front_end + back_end
print('joined_list = ' , joined_list)

full_stack = joined_list.copy()   #24
full_stack.insert(5, 'Python')    
full_stack.insert(6, 'SQL')
print('full_stack = ', full_stack)

front_end =  ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end =  ['Node', 'Express', 'MongoDB']
joined_list =  ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack =  ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [89]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]     #26
print('ages = ', ages)

ages.sort()   #27
print('ages = ', ages)
min_age = min(ages)
print("Minimum Age:", min_age)
max_age = max(ages)
print("Maximum Age:", max_age)

ages.append(min_age)    #28
ages.append(max_age)
print('ages = ', ages)
 
n = len(ages)     #29
median_age = (ages[n//2 - 1] + ages[n//2]) / 2 
print("Median Age:", median_age)

average_age = sum(ages) / len(ages)    #30
print("Average Age:", average_age)

age_range = max_age - min_age  #31
print("Range of Ages:", age_range)

min_minus_average = abs(min_age - average_age)   #32
max_minus_average = abs(max_age - average_age)
print("Absolute difference (min - average):", min_minus_average)
print("Absolute difference (max - average):", max_minus_average)

ages =  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26
ages =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age: 24.0
Average Age: 22.75
Range of Ages: 7
Absolute difference (min - average): 3.75
Absolute difference (max - average): 3.25

In [93]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']   #33
print('countires = ', countries)
print('The middle country is: ',countries[3])

first_half = countries[0:5]     #34
print('first_half = ', first_half)
second_half = countries[4:7]
print('second_half = ', second_half)

first_country, second_country, third_country, *scandic_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']     #35
print('first_country = ', first_country) 
print('second_country = ', second_country)
print('third_country = ', third_country)
print('scandic_countries = ', scandic_countries)

countires =  ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
The middle country is:  Finland
first_half =  ['China', 'Russia', 'USA', 'Finland', 'Sweden']
second_half =  ['Sweden', 'Norway', 'Denmark']
first_country =  China
second_country =  Russia
third_country =  USA
scandic_countries =  ['Finland', 'Sweden', 'Norway', 'Denmark']

In [1]:
#TUPLE:

tuple = ()   #1
print('tuple = ', tuple)

sisters = ("Alena", "Eman")   #2
brothers = ("Bilal", "Umar")
print('sisters = ', sisters)
print('brothers = ', brothers)

siblings = sisters + brothers   #3
print('siblings = ', siblings)

print('Number of siblings = ', (len(siblings)))     #4

parents = ("Haris", "Tania")    #5
print('parents = ', parents)
family_members = siblings + parents
print('family_members = ', family_members)

siblings_unpack = family_members[0:-2]    #6
father, mother = family_members[-2], family_members[-1]  
print('Unpacked Siblings: ', siblings_unpack)
print('Father: ', father)
print('Mother: ', mother)

tuple =  ()
sisters =  ('Alena', 'Eman')
brothers =  ('Bilal', 'Umar')
siblings =  ('Alena', 'Eman', 'Bilal', 'Umar')
Number of siblings =  4
parents =  ('Haris', 'Tania')
family_members =  ('Alena', 'Eman', 'Bilal', 'Umar', 'Haris', 'Tania')
Unpacked Siblings:  ('Alena', 'Eman', 'Bilal', 'Umar')
Father:  Haris
Mother:  Tania

In [8]:
fruits = ('apple', 'banana', 'cherry', 'date')     #7
print('fruits= ', fruits)
vegetables = ('carrot', 'broccoli', 'spinach', 'pepper')
print('vegetables = ', vegetables)
animal_products = ('milk', 'cheese', 'egg', 'yogurt')
print('animal_products = ', animal_products)
food_stuff_tp = fruits + vegetables + animal_products
print('food_stuff_tp = ', food_stuff_tp)

food_stuff_lt = list(food_stuff_tp)     #8
print('food_stuff_lt = ', food_stuff_lt)

print('The middle items are: ', (food_stuff_lt[5:7]))    #9

print('The first three items are: ', (food_stuff_lt[0:3]))      #10
print('The last three items are: ', (food_stuff_lt[9:12]))

del food_stuff_tp    #11

fruits=  ('apple', 'banana', 'cherry', 'date')
vegetables =  ('carrot', 'broccoli', 'spinach', 'pepper')
animal_products =  ('milk', 'cheese', 'egg', 'yogurt')
food_stuff_tp =  ('apple', 'banana', 'cherry', 'date', 'carrot', 'broccoli', 'spinach', 'pepper', 'milk', 'cheese', 'egg', 'yogurt')
food_stuff_lt =  ['apple', 'banana', 'cherry', 'date', 'carrot', 'broccoli', 'spinach', 'pepper', 'milk', 'cheese', 'egg', 'yogurt']
The middle items are:  ['broccoli', 'spinach']
The first three items are:  ['apple', 'banana', 'cherry']
The last three items are:  ['cheese', 'egg', 'yogurt']

In [3]:
#SET:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon'}     #1
print('it_companies = ', it_companies)
print('Length of it_companies set = ', (len(it_companies)))

it_companies.add('Twitter')    #2
print('it_companies = ', it_companies)

new_companies = {'Tesla', 'Nividia', 'TSMC'}     #3
it_companies.update(new_companies)    
print('it_companies = ', it_companies)

it_companies.remove('IBM')    #4
print('it_companies = ', it_companies)

#5
The 'remove()' fuction removes a specified element from the set.If the specified element is not found in the set, it raises a 'KeyError'. Whereas, discard()
function removes a specified element from the set. If the specified element is not found in the set, it does nothing and does not raise an error.

it_companies =  {'Facebook', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'IBM', 'Google'}
Length of it_companies set =  7
it_companies =  {'Twitter', 'Facebook', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'IBM', 'Google'}
it_companies =  {'Twitter', 'Facebook', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'TSMC', 'IBM', 'Tesla', 'Nividia', 'Google'}
it_companies =  {'Twitter', 'Facebook', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'TSMC', 'Tesla', 'Nividia', 'Google'}

In [4]:
A = {19, 22, 24, 20, 25, 26}      #6
print('A = ', A)
B = {19, 22, 20, 25, 26, 24, 28, 27}
print('B = ', B)
joined_set = A.union(B)
print('joined_set = ', joined_set)

intersection_set = A.intersection(B)      #7
print('intersection_set = ', intersection_set)

subset = A.issubset(B)     #8
print('Is A subset of B: ', subset)

disjoint = A.isdisjoint(B)    #9
print('Are A and B disjoint sets: ', disjoint)

joined_A_B = A.union(B)   #10
joined_B_A = B.union(A)
print('joined_A_B = ', joined_A_B)
print('joined_B_A = ', joined_B_A)

symmetric_difference = A.symmetric_difference(B)    #11
print('symmetric_difference = ', symmetric_difference)

del A     #12
del B

A =  {19, 20, 22, 24, 25, 26}
B =  {19, 20, 22, 24, 25, 26, 27, 28}
joined_set =  {19, 20, 22, 24, 25, 26, 27, 28}
intersection_set =  {19, 20, 22, 24, 25, 26}
Is A subset of B:  True
Are A and B disjoint sets:  False
joined_A_B =  {19, 20, 22, 24, 25, 26, 27, 28}
joined_B_A =  {19, 20, 22, 24, 25, 26, 27, 28}
symmetric_difference =  {27, 28}

In [5]:
age = [22, 19, 24, 25, 26, 24, 25, 24]     #13
print('age = ', age)
age_set = set(age)
print('age_set = ', age_set)
length_of_list = len(age)
print('length_of_list = ', length_of_list)
length_of_set = len(age_set)
print('length_of_set = ', length_of_set)
if length_of_list > length_of_set:
    print("The list is bigger.")
elif length_of_list < length_of_set:
    print("The set is bigger.")
else:
    print("Both have the same length.")

#14
Mutability: Strings and tuples are immutable; lists and sets are mutable.
Order: Lists and tuples maintain the order of elements; sets do not.
Duplicates: Lists and tuples can contain duplicates; sets automatically remove duplicates.
Use Cases: Strings are for text, lists for ordered collections, tuples for fixed collections, and sets for unique collections and set operations.

age =  [22, 19, 24, 25, 26, 24, 25, 24]
age_set =  {19, 22, 24, 25, 26}
length_of_list =  8
length_of_set =  5
The list is bigger.