In [4]:
name={}
type(name)

dict

In [8]:
s={5,3,3,4,(4,5)}
print(s)

{(4, 5), 3, 4, 5}

In [10]:
s={1,"Warisha",2.5,True}
print(s)

{'Warisha', 1, 2.5}

In [12]:
fruit=set(['apple','banana','cherry'])
type(fruit)

set

In [14]:
s1={1,3,3,4}
s2={4,3,3,1}
s1==s2

True

In [17]:
s[0]='banana'

TypeError: 'set' object does not support item assignment

In [62]:
S={1,2,3,4}
S.add(5,2)
print(S)

TypeError: add() takes exactly one argument (2 given)

In [67]:
S.update([5,8,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
S.update((3,2,5))
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
S.update([3,2,5])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
S.update({3,2,5})
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
S.update("Imran")
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 'I', 'm', 'r', 'a', 'n'}

In [72]:
name = {"Imran"}
print(name)

{'Imran'}

In [73]:
S.update((11,23,44,56))
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 'I', 'm', 'r', 'a', 11, 44, 23, 56, 'n'}

In [74]:
S.pop()
print(S)

{2, 3, 4, 5, 6, 7, 8, 'I', 'm', 'r', 'a', 11, 44, 23, 56, 'n'}

In [75]:
S.remove(5)
print(S)

{2, 3, 4, 6, 7, 8, 'I', 'm', 'r', 'a', 11, 44, 23, 56, 'n'}

In [76]:
S.discard(58)
print(S)

{2, 3, 4, 6, 7, 8, 'I', 'm', 'r', 'a', 11, 44, 23, 56, 'n'}

In [77]:
S.discard("Imran")
print(S)

{2, 3, 4, 6, 7, 8, 'I', 'm', 'r', 'a', 11, 44, 23, 56, 'n'}

In [66]:
del S[0]
print(S)

TypeError: 'set' object doesn't support item deletion

In [51]:
S.clear()
print(S)

set()

In [52]:
s3={2,3,4,5,6}
s4={3,4,5,10,12,13}
print(s3|s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [53]:
print(s3&s4)

{3, 4, 5}

In [54]:
print(s3-s4)

{2, 6}

In [55]:
print(s4-s3)

{10, 12, 13}

In [56]:
print(s3^s4)

{2, 6, 10, 12, 13}

In [57]:
3 in s3

True

In [79]:
print(len(s3))
print(max(s3))

5
6

In [82]:
s1.union(s2)
print(s1)
print(s2)

{1, 3, 4}
{1, 3, 4}

In [83]:
s1={1,2,3,4}
s2={7,8,5,6}
s1.isdisjoint(s2)

True

In [84]:
s1.issubset(s2)

False

In [85]:
s1.issuperset(s2)

False

In [88]:
fs1=frozenset([1,2,3])
fs1.update(4)
print(fs1)

AttributeError: 'frozenset' object has no attribute 'update'

In [89]:
fs = frozenset({1,2,frozenset([3,4])})
print(fs)

frozenset({frozenset({3, 4}), 1, 2})